<div class="gallery">
    {{#each artist}}
        <div class="row">
            <div class="col-md-3">
                 <img class="img-thumbnail artist-img" src="{{imageURL}}">
            </div>
            <div class="col-md-7">
                <div class="row artist-bio">
                    <div class="col-md-3">
                        <div><strong>Name:</strong></div>
                        <div><strong>City:</strong></div>
                        <div><strong>Style:</strong></div>
                        <div><strong>Artworks:</strong></div>
                        <div><strong>Presentation:</strong></div>
                    </div>
                    <div class="col-md-9">
                         <div>{{artistName}}</div>
                        <div>{{city}}</div>                     
                        <div>{{style}}</div>                   
                        <div>{{artworks.length}}</div>                       
                        <div>{{presentation}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <hr>
         {{#if artworks.length}}
        <ul class="galleryItems list-group ">
            {{#each artworks}}
            <li class="itemGallery list-group-item col-md-3">
                <div class=" double-border"><img class="img-thumbnail by-artist" src="{{imageURL}}"></div>
                <h4><a class="title" data-id="{{id}}" href="#/paintings/{{id}}"><strong>{{title}}</strong></a></h4>
            </li>
            {{/each}}
        </ul>
    {{else}}
    <div>No paintings available</div>
    {{/if}}
    {{/each}}
</div>