<div class="container">
    <div class="row">
    <aside id="aside-partial" class="position-fixed col-md-2">
        <div class="input-group">
            <div>
                <select id="select" name="select">
                    <option value="filter" selected>Filter</option>
                    <option value="artist">Artist</option>
                    <option value="title">Title</option>
                </select>
            </div>
            <input type="text" id="search-input" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" id="search-btn" type="button"><span
                        class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Style</a></li>
            <li role="presentation"><a href="#/style/Abstract Art">Abstract Art</a></li>
            <li role="presentation"><a href="#/style/Landscape Art">Landscape Art</a></li>
            <li role="presentation"><a href="#/style/Realism">Realism</a></li>
            <li role="presentation"><a href="#/style/Impressionism">Impressionism</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Subject</a></li>
            <li role="presentation"><a href="#/subject/Animals">Animals</a></li>
            <li role="presentation"><a href="#/subject/Flora">Flora</a></li>
            <li role="presentation"><a href="#/subject/Landscape">Landscape</a></li>
            <li role="presentation"><a href="#/subject/Seascape">Seascape</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Tehnique</a></li>
            <li role="presentation"><a href="#/technique/Oil Painting">Oil Painting</a></li>
            <li role="presentation"><a href="#/technique/Acrylic Painting">Acrilic Painting</a></li>
            <li role="presentation"><a href="#/technique/Watercolor Painting">Watercolor Painting</a></li>
        </ul>
    </aside>
    <div class="gallery col-md-9 col-md-offset-1">
        {{#if paintings.length}}
        <ul class="galleryItems list-group row">
            {{#each paintings}}
            <li class="itemGallery list-group-item col-md-3">
                <div class="double-border"><img class="imgGallery img-thumbnail" src="{{imageURL}}"></div>
                <div class="img-info">
                    <div>
                        <a class="artist" data-id="{{id}}" href="#/artist-info/{{artistName}}">{{artistName}}</a>
                    </div>
                    <div>
                        <a class="title" data-id="{{id}}" href="#/paintings/{{id}}">{{title}}</a>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
        {{else}} <h4>There are no paintings matching your search.</h4> {{/if}}
    </div>
</div>
</div>